@model IEnumerable<XamStore.Domain.Entities.Cadastro.Slide>

@{
    ViewBag.Title = "Home Page";
}

<!-- start slider -->
<div class="slider">
    <!---start-image-slider---->
    <div class="image-slider">
        <div class="wrapper">
            <div id="ei-slider" class="ei-slider">
                <ul class="ei-slider-large">
                    @foreach (var slide in (IEnumerable<XamStore.Domain.Entities.Cadastro.Slide>)ViewBag.Produtos)
                    {
                        <li>
                            <img src="~/Imagens/Produto/@slide.Imagem" alt="image06" style="margin-top:20px;height:400px !important;" />
                            <div class="ei-title">
                                <h2><span class="label label-default">@slide.Produto.Nome</span></h2>
                                <h2><span class="label label-danger">@($"{slide.Produto.Preco:C}")</span></h2>
                                <h3>
                                    <a href="Produto/detalhar/@slide.Produto.Id">
                                        <div class="btn btn-primary">Saber Mais</div>
                                    </a>
                                </h3>
                            </div>
                        </li>
                    }
                </ul><!-- ei-slider-large -->
                <ul class="ei-slider-thumbs">
                    @foreach (var slide in (IEnumerable<XamStore.Domain.Entities.Cadastro.Slide>)ViewBag.Produtos)
                    {
                        <li><a href="#"><span>@slide.Produto.Nome</span></a><img src="/Imagens/Produto/@slide.Imagem" alt="" /></li>
                    }
                </ul><!-- ei-slider-thumbs -->
            </div><!-- ei-slider -->
        </div><!-- wrapper -->
    </div>
    <!---End-image-slider---->
</div>
