@model IEnumerable<XamStore.Domain.Entities.Cadastro.Slide>

@{
    ViewBag.Title = "Home Page";
}

<div class="slider">
    <div class="image-slider">
        <div class="wrapper">
            <div id="ei-slider" class="ei-slider">
                <ul class="ei-slider-large">
                    @foreach (var slide in (IEnumerable<XamStore.Domain.Entities.Cadastro.Slide>)ViewBag.Produtos)
                    {
                        <li>
                            <img src="~/Imagens/Produto/@slide.Imagem" alt="image06" style="margin-top:20px;height:400px !important;" />

                            <div class="ei-title">
                                <h3 class="btn">@($"{slide.Produto.Preco}")</h3>
                                <h2>@slide.Produto.Nome</h2>
                                <h3>
                                    <a class="ei_icons" href="/Views/Produto/@slide.Produto.Id"><img src="~/Imagens/icon_1.png" alt=""></a>
                                </h3>
                            </div>
                        </li>
                    }
                </ul>
                <ul class="ei-slider-thumbs">
                    @foreach (var slide in (IEnumerable<XamStore.Domain.Entities.Cadastro.Slide>)ViewBag.Produtos)
                    {
                        <li><a href="#"><span>@slide.Produto.Nome</span></a><img src="/Imagens/Produto/@slide.Imagem" alt="" /></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
