<!-- start top_bg -->
<div class="top_bg">
    <div class="wrap">
        <div class="main_top">
            <h2 class="style">Sobre</h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <div class="about">
                <div class="cont-grid">
                    <div class="col-md-12">
                        <span class="para" style="text-align: center;">
                            <h3><strong>Missão</strong></h3>
                            <h4>Nossa missão é fazer do cliente o nosso parceiro e através de um relacionamento sólido, buscar o melhor relacionamento com o cliente, realizando um negócio confiável e de qualidade.</h4>

                            <h3><strong>Negócio</strong></h3>

                            <h4>Nosso negócio é a incorporação e venda de jogos para todas as plataformas.</h4>

                            <h3><strong>Visão</strong></h3>

                            <h4>A Infinity Game Store tem como visão consolidar seu nome como sendo a melhor empresa de venda de jogos online.</h4>

                            <h3><strong>Valores</strong></h3>

                            <h4>Qualidade, agilidade e simplicidade, são nossos principais valores. Fazer tudo com excelência e agilidade, mantendo a operação e a estrutura simples e funcional.</h4>
                        </span>
                    </div>
                    <br/> <br/>
                    <hr/>
                    <div class="col-md-6">
                        <span class="para" style="float: left; text-align: center;">
                            <h5>
                                A Infinity Games é uma loja virtual especializada em vendas de Jogos.<br />
                                Nossa vitrine conta com os lançamentos mais atuais, com preços acessíveis e com várias formas de pagamentos.
                            </h5>
                        </span>
                        <img src="~/Imagens/Produto/assassin.jpg" width="500" style="float: left;"/>
                        <br/><br/><br/><br/><br/><br/><br/> <br/> <br/> <br/> <br/> <br/>
                    </div>
                    <div class="col-md-6">
                        <span class="para" style="float: left; text-align: center;">
                            <h5>
                                Contamos com uma equipe de profissionais qualificados, pronta para lhe atender e tirar todas as dúvidas,
                                basta apenas clicar no meu contato.
                            </h5>
                        </span>
                        <br /><br />
                        <img src="~/Imagens/blog-img.jpg" width="500" style="float: left" />
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- start footer -->
