<div class="top_bg">
    <div class="wrap">
        <div class="main_top">
            <h2 class="style">Sobre</h2>
        </div>
    </div>
</div>
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <div class="about">
                <div class="cont-grid">
                    <span class="para" style="float:left">
                        A Mobile Shopping é uma loja virtual especializada em vendas de smartphones.<br />
                        Nossa vitrine conta com os mais modernos aparelhos celulares, com preços acessíveis e com várias formas de pagamentos.
                    </span>
                    <img src="~/Imagens/smartphones.jpg" width="300" style="float:left" />
                    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    <span class="para" style="float:left">
                        Contamos com uma equipe de profissionais qualificados, pronta para lhe atender<br /> e tirar todas as dúvidas,
                        basta apenas clicar no meu contato.
                    </span>
                    <br/><br/><br/><br/>
                    <img src="~/Imagens/blog-img.jpg" width="300" style="float:left" />
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
