@{var controller_active = ViewContext.RouteData.Values["Controller"] as string;}
<div class="row" style="float:left;margin-top:10px; position: relative; margin-left: -400px;"> <!--Foi alterado aqui, adicionado position e margin-->
    <div class="col-md-4 menu">
        <div class="panel panel-default" style="width:252px">
            <div class="panel-heading" style="width:250px"><b>Cadastros</b></div>
            <ul class="list-group menu-admin" style="width:250px">

                @{
                    var menus = ViewBag.Menus as IEnumerable<XamStore.Domain.Entities.Sistema.MenuAdmin>;

                    foreach (var menu in menus)
                    {
                        <li class="list-group-item @if (controller_active == menu.Action) { @Html.Raw(" active"); }">
                            @Html.ActionLink(menu.Nome, menu.Action, menu.Controller)

                        @if (menu.Controller == "Venda")
                        {
                            if ((int)ViewBag.VendaCount > 0)
                            {
                                <span class="badge">@Html.Raw(ViewBag.VendaCount)</span>
                            }
                        }
                    </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>