@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="jumbotron">
    <h1>PAINEL ADMINISTRATIVO</h1>
    <p class="lead">Use esta ferramenta para adimistrar sua loja, cadastrar seus produtos e muito mais.</p>
</div>
@Html.Partial("MenuAdmin")